@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorServerApp.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table TItem="WeatherForecast" DataSource="@forecasts">
        <Column @bind-Field="@context.Date">
            @context.Date.ToShortDateString()
        </Column>
        <Column @bind-Field="@context.TemperatureC"></Column>
        <Column Title="Temp. (F)" Field="@context.TemperatureF"></Column>
        <Column @bind-Field="@context.Summary"></Column>
    </Table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
